
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

.itembuylist{
	display:flex;
	align-items:center;
	border-radius:10px;
	background-color:#FFFFFF;
	width:80%;
	height:fit-content;
	padding:20px;
	justify-content:space-between;
    cursor: pointer;
    margin:10px;
}
.itembuylist:hover{
    background-color: #a4d3fb;
    width:83%;
	/* height:160px;
    margin:5px; */
}

.itembuylist img{
	width:150px;
	height:150px;
	
	
}

.itembuylist .itmdsc h3{
    font-family: 'Heebo', sans-serif;
	text-align:center;
	Text-justify:center;
	color:#000000;
	font-size:50px;
}
.itembuylist .itmdsc{
    width:50%;
}
.itembuylist .itmdsc p{
    color: rgb(82, 82, 82);
    text-align: justify;
}
.itembuylist h5{
    /* font-family: 'Heebo', sans-serif; */
    width:max-content;
	text-align:center;
	Text-justify:center;
	color:#228527;
	font-size:50px;
}
.buy del{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color:rgb(252, 36, 36);

}
.buy button{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 150px;
    background-color: #3bf745;
    border:1px solid gray;
    border-radius: 5px;
    Padding: 3px;
    cursor: pointer;

    
    font-size: 20px;
    font-weight: bold;
    color:rgb(10, 10, 10);
    text-decoration: none;

}
.buy button:hover{
    background-color: #218d26;
    

}
